<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" role="navigation">
    <a class="navbar-brand" href="#">
        <span class="fas fa-camera"></span>
        Photog
    </a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/browse">Browse</a>
            <a class="nav-item nav-link" href="/copyright">Copyright and Licensing</a>
        </div>
    </div>
</nav>
