
<% // meta -> a metadata object. %>
<a href="javascript:;">
    <img src="/api/thumb/<%= meta._id -%>.jpg" class="photog-thumb img-thumbnail col-3" alt="<%= meta.tags.join(", ") -%>" id="<%= meta._id %>" data-toggle="modal" data-target="#displayModal">
</a>
