<!DOCTYPE html>
<html lang="en">


<!--suppress HtmlRequiredTitleElement -->
<head>
    <% include partials/head.ejs %>
</head>
<body class="px-0">
<div class="row">
    <div class="flex-fill">
        <header>
            <% include partials/header.ejs %>
        </header>
        <main>
            <div class="jumbotron">
                <div class="container">
                    <h1>Copyright</h1>
                    <hr/>
                    <p>
                        All photos on this website (sans the site logos) are &copy; Nick Samson 2020.
                    </p>
                    <p>
                        These photos may be copied and reused under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 Creative Commons license</a>.
                    </p>
                    <p>
                        This website is free and open source software! It was produced and <a href="https://github.com/nisamson/photog">is available</a> under the GNU Affero General Public License v3.0 or later.
                    </p>
                </div>
            </div>
        </main>

        <footer>
            <% include partials/footer.ejs %>
        </footer>

        <% include partials/body-footer.ejs %>
    </div>
</div>
</body>
</html>

