<!DOCTYPE html>
<html lang="en">


<!--suppress HtmlRequiredTitleElement -->
<head>
    <% include partials/head.ejs %>
</head>
<body class="px-0">
<div class="row">
    <div class="flex-fill">
        <header>
            <% include partials/header.ejs %>
        </header>
        <main>
            <div class="jumbotron">
                <div class="container">
                    <h1>
                        Photog
                    </h1>
                    <p>
                        Welcome to Photog.
                    </p>
                    <p>
                        This is a combination software project and photography website I created
                        mostly to learn TypeScript and NodeJS.
                    </p>
                    <p>
                        Take a look at <a href="/browse">Browse</a> to see my most recent
                        photos.
                    </p>
                </div>
            </div>
        </main>

        <footer>
            <% include partials/footer.ejs %>
        </footer>

        <% include partials/body-footer.ejs %>
    </div>
</div>
</body>
</html>

